body {
    font-family: 'Arial', sans-serif;
    min-width: 1430px;
}

/*background used to be #d5d5d5 -- changing it to white #FFFFFF*/

#current_task {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}

#tutorial_container {
    /* width: 1430px; */
    width: 100%;
    float: left;
    display: none;
    background-color: white;
    overflow: hidden;
    positive: relative;
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
}

#workspace {
    /* width: 1430px; */
    width: 100%;
    float: left
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
}

#demonstration_examples_view {
    border-radius: 10px;
    float: left;
    width: 430px;
    /* height: 800px; */
    margin: 10px;
    margin-bottom: 10px;
    /* margin-right: 5px; */
    background-color: #d5d5d5;
}

#evaluation_view {
    border-radius: 10px;
    float: left;
    width: 930px;
    margin: 10px;
    margin-left: 5px;
    background-color: #d5d5d5;
    /* min-height: 850px; */
}

#evaluation-input-view {
    float: left;
    width: 400px;
    margin: 10px;
}

#evaluation_output_editor {
    float: left;
    width: 500px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

#parent_load_control_btns {
    text-align: center;
    align-items: center;
    align-content: center;
}

#load_task_control_btns {
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    width: 910px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    align-items: right;
    border-radius: 6px;
}

#write_solution {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: white;
    width: 98%;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    padding-left: 10px;
    border-radius: 6px;
}

#write_solution_box {
    width: 98%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#editor_grid_control_btns {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}

#resize_control_btns {
    width: 100%;
    float:left;
    margin-bottom: 10px;
}

#submit_solution_btn {
    color: white;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(28, 184, 65);
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

#submit_solution_btn:active {
  background: blue;
}

button:focus {outline:0;}

#submit_description_btn {
    color: white;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(28, 184, 65);
    float: right;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#submit_description_btn:active {
  background: blue;
}

#submit_tutorial_solution_btn {
    color: white;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(28, 184, 65);
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

#submit_tutorial_solution_btn:active {
  background: blue;
}

button:focus {outline:0;}

#submit_tutorial_description_btn {
    color: white;
    border-radius: 4px;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
    background: rgb(28, 184, 65);
    float: right;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#submit_tutorial_ description_btn:active {
  background: blue;
}


#toolbar {
    float: left;
    /* background: white; */
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
    width: 100%;
}

#symbol_picker {
    float: left;
    /* background: white; */
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.symbol_preview {
    width: 25px;
    height: 25px;
    float: left;
}

label_heading {
    font-weight: bold;
    margin-left: 10px;
}

label {
    /* font-weight: bold; */
    margin-left: 10px;
}

#check_understanding {
}

#incorrect_submission {
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: top;
    width: 650px;
    margin-top: 50px;
    color: red;
    visibility: hidden;
}

#correct_submission {
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: top;
    width: 650px;
    margin-top: 50px;
    color: green;
    visibility: hidden;
}

input, button {
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    /* color: white; */
    background-color: white;
    /* padding: 5px; */
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */
}

#resize_btn {
    margin-left: 0;
}

/*Task demonstration*/

.pair_preview {
    height: 230px;
    padding: 10px;
    /* border-bottom: solid 1px #a1a1a1; */
}

.input_preview {
    height: 200px;
    width: 200px;
    float: center;
    text-align: center;
}

.output_preview {
    height: 200px;
    width: 200px;
    float: center;
    margin-left: 10px;
    margin-right: 10px;
}

.preview_block {
   height: 200px;
   width: 200px;
   float: left;
   margin-bottom: 60px;
}

.text {
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.subTextLeft {
    text-align: center;
    /* background: white; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.subTextRight {
    width: 200px;
    text-align: center;
    /* background: white; */
    padding-top: 5px;
    padding-bottom: 5px;
    /* float: right; */
    margin-left: 10px;
}

#task_demo_header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-radius: 6px;
    font-weight: bold;
    /* margin: 10px; */
}

#test_input_header {
    /* margin: 10px; */
    border-radius: 6px;
    font-weight: bold;
}

#test_output_header {
    /* margin: 10px; */
    border-radius: 6px;
    font-weight: bold;
}

#computer_arrow{
    display: inline-block;
}


#arrow_inner{
    position: relative;
    margin-bottom: 20px;
}

.tutorial_pair{
    text-align: center;
}

.tutorial_slide {
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: top;
    width: 1000px;
    height: 700px;
    margin-top: 10px;
}


.tutorial_text {
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: top;
    width: 1000px;
    margin-top: 50px;
}

.tutorial_video {
    margin: auto;
    background-color: white;
    text-align: center;
    vertical-align: top;
/*    width: 500px;*/
    margin-top: 50px;
}

#modal_bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#modal {
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 100px;
    width: 500px;
    margin-top: 100px;
}

/* #tutorial { */
/*     display: none; */
/*     margin: auto; */
/*     background-color: white; */
/*     text-align: center; */
/*     vertical-align: top; */
/*     width: 500px; */
/*     margin-top: 50px; */
/* } */

#modal input {
    margin-left: 70px;
}

br {
   display: block;
   margin: 10px 0;
}

#task_header {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: bold;
}

#info_display {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

#tutorial_nav {
    bottom: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
